<?xml version="1.0"?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="../../Framework/etc/def/routes.xsd">
   <route namespace="Modules\FeedApi\Http\Controllers"
          path="routes/api.php"
          middleware="api,auth:api,block"
          prefix="api"
   />
</routes>
