<?xml version="1.0"?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="../../Framework/etc/def/routes.xsd">
   <route namespace="Modules\Category\Http\Controllers"
          path="routes/api.php"
          prefix="api"
          middleware="auth:api,api,block"
   />
</routes>
